# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

NODE_ENV=development
NEXT_PUBLIC_ENVIRONMENT=prod

UPSTASH_REDIS_REST_TOKEN
UPSTASH_REDIS_REST_URL

COMPILOT_WEBHOOK_SECRET_BANK
COMPILOT_API_KEY_BANK
COMPILOT_WORKFLOW_ID_BANK

COMPILOT_WEBHOOK_SECRET_BANK_KYB
COMPILOT_API_KEY_BANK_KYB
COMPILOT_WORKFLOW_ID_BANK_KYB

COMPILOT_WEBHOOK_SECRET_BANK_WEB3
COMPILOT_API_KEY_BANK_WEB3
COMPILOT_WORKFLOW_ID_BANK_WEB3

COMPILOT_WEBHOOK_SECRET_DEFI_RULE_ENGINE
COMPILOT_API_KEY_DEFI_RULE_ENGINE
COMPILOT_WORKFLOW_ID_DEFI_RULE_ENGINE

COMPILOT_WEBHOOK_SECRET_DEFI_OFFCHAIN_ZKP
COMPILOT_API_KEY_DEFI_OFFCHAIN_ZKP
COMPILOT_WORKFLOW_ID_DEFI_OFFCHAIN_ZKP

COMPILOT_WEBHOOK_SECRET_KYC
COMPILOT_API_KEY_MULTICHAIN_DEMO
COMPILOT_WORKFLOW_ID_MULTICHAIN_DEMO

COMPILOT_WEBHOOK_SECRET_KYC
COMPILOT_API_KEY_KYC
COMPILOT_WORKFLOW_ID_KYC

NEXT_PUBLIC_AMOY_HTTP_PROVIDER_URL=
NEXT_PUBLIC_SEPOLIA_HTTP_PROVIDER_URL=
