.responseColumns {
  display: flex;
  gap: 24px;
}

.responseColumns div {
  min-width: 400px;
}

.responseColumns div pre {
  background-color: aliceblue;
  border: 2px solid grey;
  border-radius: 16px;
  min-height: 600px;
}
