.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.authenticateButton {
  padding: 16px 24px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #0258fd;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.authenticateButton:disabled {
  background-color: grey;
  cursor: not-allowed;
}
